<table class='index' id='product_sale_prices' data-hook='sale_price_table'>
  
  <colgroup>
    <col style='width: 10%'>
    <col style='width: 20%'>
    <col style='width: 30%'>
    <col style='width: 30%'>
    <col style='width: 10%'>
    <col style='width: 10%'>
  </colgroup>

  <thead>
    <tr data-hook='products_header'>
      <th><%= Spree.t('sale_price_active') %></th>
      <th><%= Spree.t('sale_price') %></th>
      <th><%= Spree.t('sale_price_start_at') %></th>
      <th><%= Spree.t('sale_price_end_at') %></th>
      <th><%= Spree.t('sale_price_enabled') %></th>
      <th class='actions'></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "spree/admin/sale_prices/sale_price", collection: @variant.sale_prices, locals: { product: product } %>
  </tbody>

</table>
