<% if item_added.variant.msrp.present? && discount_percentage_variant(item_added.variant) != '0'%>
  <span class="line-through"><strong><%= number_to_currency(item_added.product.master.msrp) %></strong></span>
  </span>
  <span class="sale-price">
    <span class="price selling" itemprop="price">
      <strong><%= display_price(item_added.variant) %></strong>
    </span>
  </span>
  <span class="save-percent">
    <%= Spree.t(:save) %> <%= discount_percentage_variant(item_added.variant) %>%
  </span>
<% else %>
  <span class="list-price">
    <strong><%= display_price(item_added.variant) %></strong>
  </span>
<% end %>
